.Home .lander {
    text-align: center;
  }
  
  .Home .lander h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
  }
  
  .Home .lander p {
    color: black;
    font-weight: bold;
    font-size: 20px;
  }

  .Home .lander .pic {
    /* margin-top: -12%; */
    /* margin-bottom: -11% */

  }

  /* .Home .lander .info{
    margin-top: -100px
  } */
  